/* VARIABLES
===========================================*/


/* DECLARATIONS
===========================================*/
.fsd-textarea-container{
    max-width: 100%;
}

.fsd-textarea-preventresize{
    resize: vertical;
}

.fsd-textarea-medium {
    height: 200px !important;
}